<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
    <title>Accuracy</title>
</head>

<body>
    <div class="accuracy">
        <p class="accuracy_text">Random Forest Mean Accuracy : <span class="white">{{rf_mean_acc}}</span></p>
        <p class="accuracy_text">Neural Network Mean Accuracy : <span class="white">{{nn_mean_acc}}</span></p>
        <p class="accuracy_text">Naive Bayes Mean Accuracy : <span class="white">{{nb_mean_acc}}</span></p>

        <a class="btn-back back-acc" href="{{ url_for('home') }}">
            <span>Home</span>
        </a>
    </div>
</body>

</html>