{% extends "base.html" %}

{% block content %}

    <form class="form" action="{{ url_for('result') }}" method="POST">
        <h1 class="header">Detect Phishing Website</h1>
        <div class="container">
            <div class="item item--1">
                <p>Does The URL have IP Address?</p>
                <div class="radio ">
                    <input type="radio" name="ip" value="1">Yes<br>
                    <input type="radio" name="ip" value="-1" checked>No<br>
                </div>
            </div>
            <div class="item item--2">
                <p>URL Length</p>
                <div class="radio">
                    <input type="radio" name="ul" value="1" checked>&lt 54 Character<br>
                    <input type="radio" name="ul" value="0">54 - 75 Character<br>
                    <input type="radio" name="ul" value="-1">&gt 75 Character<br>
                </div>
            </div>
            <div class="item item--3">
                <p>Does the URL have '@' symbol?</p>
                <div class="radio-center">
                    <input type="radio" name="at" value="-1">Yes<br>
                    <input type="radio" name="at" value="1" checked>No<br>
                </div>
            </div>
            <div class="item item--4">
                <p>Does The URL have Prefix Suffix '-' Symbol?</p>
                <div class="radio-center">
                    <input type="radio" name="ps" value="-1">Yes<br>
                    <input type="radio" name="ps" value="1" checked>No<br>
                </div>
            </div>
            <div class="item item--5">
                <p>How many dot-segments is in the domain?</p>
                <div class="radio-center">
                    <input type="radio" name="sd" value="1">1 - 2<br>
                    <input type="radio" name="sd" value="0">3<br>
                    <input type="radio" name="sd" value="-1" checked>&gt 3<br>
                </div>
            </div>
            <div class="item item--6">
                <p>Does The URL have Https token?</p>
                <div class="radio-center">
                    <input type="radio" name="ht" value="1">Yes<br>
                    <input type="radio" name="ht" value="-1" checked>No<br>
                </div>
            </div>
            <div class="item item--7">
                <p>What percentage request from another Domain?</p>
                <div class="radio-center">
                    <input type="radio" name="ru" value="1">&lt 22%<br>
                    <input type="radio" name="ru" value="-1" checked>&gt 22%<br>
                </div>
            </div>
            <div class="item item--8">
                <p>What percentage of Anchor URL in the website point to different domain?</p>
                <div class="radio">
                    <input type="radio" name="ua" value="1">&lt 31%<br>
                    <input type="radio" name="ua" value="0">31% - 67%<br>
                    <input type="radio" name="ua" value="-1" checked>&gt 67%<br>
                </div>
            </div>
            <div class="item item--9">
                <p>Server Form Handler</p>
                <div class="radio">
                    <input type="radio" name="sfh" value="1">Same Domain<br>
                    <input type="radio" name="sfh" value="0">Redirect to different Domain<br>
                    <input type="radio" name="sfh" value="-1" checked>Empty or Blank<br>
                </div>
            </div>
            <div class="item item--10">
                <p>Abnormal URL</p>
                <div class="radio">
                    <input type="radio" name="ab" value="-1">No record in WHOIS database<br>
                    <input type="radio" name="ab" value="1" checked>Record in WHOIS exist<br>
                </div>
            </div>
            <div class="item item--11">
                <p>How many times the website redirect?</p>
                <div class="radio-center">
                    <input type="radio" name="re" value="0">&gt 2<br>
                    <input type="radio" name="re" value="1" checked>&lt 2<br>
                </div>
            </div>
            <div class="item item--12">
                <p>URL on MouseOver</p>
                <div class="radio">
                    <input type="radio" name="mo" value="-1">URL Changes<br>
                    <input type="radio" name="mo" value="1" checked>URL Doesn't Change<br>
                </div>
            </div>
            <div class="item item--13">
                <p>Does the Website use forms in Pop Up Window?</p>
                <div class="radio-center">
                    <input type="radio" name="po" value="-1">Yes<br>
                    <input type="radio" name="po" value="1" checked>No<br>
                </div>
            </div>
            <div class="item item--14">
                <p>Website Domain Age</p>
                <div class="radio-center">
                    <input type="radio" name="ad" value="-1">&lt 6 Month<br>
                    <input type="radio" name="ad" value="1" checked>&gt 6 Month<br>
                </div>
            </div>
            <div class="item item--15">
                <p>Any DNS record on the website?</p>
                <div class="radio-center">
                    <input type="radio" name="dns" value="-1">No<br>
                    <input type="radio" name="dns" value="1" checked>Yes<br>
                </div>
            </div>
            <div class="item item--16">
                <p>Website Traffic</p>
                <div class="radio">
                    <input type="radio" name="wt" value="-1">No traffic and website rank &gt 500.000<br>
                    <input type="radio" name="wt" value="0">Website Rank 100.000 - 500.000<br>
                    <input type="radio" name="wt" value="1" checked>Website Rank &lt 100.000<br>
                </div>
            </div>
        </div>
        <div class="detect">
            <input class="btn" type="submit" value="Detect">
        </div>

        <a class="btn-back" href="{{ url_for('home') }}">
            <span> &larr; Back</span>
        </a>
    </form>

{% endblock %}