{% extends "base.html" %}

{% block content %}

<div class="main">
    <div class="header header-big">
        <h1>Klasifikasi Website Phishing</h1>
    </div>
    <div class="buttons">
        <a class="btn-custom" href="{{ url_for('detect') }}">
            <svg class="icon">
                <use xlink:href="../static/symbol-defs.svg#icon-search"></use>
            </svg>
            <span>Deteksi</span>
        </a>
        <a class="btn-custom" href="{{ url_for('information') }}">
            <svg class="icon">
                <use xlink:href="../static/symbol-defs.svg#icon-book"></use>
            </svg>
            <span>Informasi</span>
        </a>
    </div>
</div>

{% endblock %}